{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if validlink %}
    <div class="container" style="max-width: 400px;">
        <form method="POST">
            {% csrf_token %}
            <legend class="border-bottom mb-4"><b>Set New Password</b></legend>
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-primary" type="submit">Reset Password</button>
        </form>
    </div>
    {% else %}
    <div class="container">
          <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Can't Reset Password</strong><br>The link with which you are trying to reset your password is used or invalid.
          </div>
        <p>Try requesting for password reset&nbsp&nbsp&nbsp&nbsp
            <button class="btn btn-primary"><a href="{% url 'password_reset' %}" style="text-decoration: none;color:white;">Reset Password</a></button>
        </p>
    </div>
    {% endif %}
</div>
{% endblock content %}
